<div class="add-new-app">
    <div class="add-new-container">
        <form [formGroup]="addNewFormGroup" class="example-form register-form">
            <div class="add-new-flex-form-field">
                <mat-form-field class="add-new-form-field" appearance="outline">
                    <mat-label>Title</mat-label>
                    <input formControlName="title" matInput placeholder="Name of recipe">
                </mat-form-field>
                <mat-form-field class="add-new-form-field" appearance="outline">
                    <mat-label>Instructions</mat-label>
                    <textarea matInput formControlName="instructions" matInput placeholder="Add a detail list of instructions"></textarea>
                </mat-form-field>
                <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="48" min="1" max="48"></mat-slider>
                <div class="add-new-slider-hint">How many will one batch make?</div>
            </div>
            <!-- <div class="add-new-ingredient-container"> -->
            <mat-form-field class="add-new-form-field" appearance="outline">
                <mat-label>Quantity</mat-label>
                <input type="number" formControlName="quantity" matInput placeholder="How many scoops">
            </mat-form-field>

            <mat-form-field class="add-new-form-field add-new-ingre-form" appearance="outline">
                <mat-label>Measurement</mat-label>
                <mat-select>
                    <mat-option value="option">Option</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="add-new-form-field add-new-ingre-form" appearance="outline">
                <mat-label>Ingredient</mat-label>
                <input formControlName="ingredient" matInput placeholder="What are you putting in">
            </mat-form-field>

            <span class="material-icons">
        delete_forever
      </span>
            <!-- </div> -->
        </form>
    </div>
    <div class="add-new-button-container">
        <button mat-stroked-button>Add Ingredient</button>
        <button mat-stroked-button>Post Recipe</button>
    </div>
</div>